
<div *ngIf="chuckNorrisFacts">
    <h2><span>Chuck Norris Facts</span> {{chuckNorrisFacts.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Fact</span></dt>
        <dd>
            <span>{{chuckNorrisFacts.fact}}</span>
        </dd>
        <dt><span>Karatepower</span></dt>
        <dd>
            <span>{{chuckNorrisFacts.karatepower}}</span>
        </dd>
        <dt><span>Created At</span></dt>
        <dd>
            <span>{{chuckNorrisFacts.created_at | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'chuck-norris-facts/'+ chuckNorrisFacts.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
